/src/BIAI/BIAI.opensdf
/src/BIAI/BIAI.sdf
/src/BIAI/BIAI.suo
/src/BIAI/ipch
/src/BIAI/Debug
/src/BIAI/BIAIShapes/BIAIShapes.vcxproj.user
/src/BIAI/BIAIShapes/Debug
/src/BIAI/Release
/src/BIAI/BIAIShapes/Release
/doc/Raport.pdf

/doc/~$Raport.docx
/doc/~WRL2353.tmp
